[Desktop Entry]
Type=Application
Exec=mangonel
Icon=mangonel
Name=Mangonel
Name[ast]=Mangonel
Name[bs]=Mangonel
Name[ca]=Mangonel
Name[ca@valencia]=Mangonel
Name[cs]=Mangonel
Name[da]=Mangonel
Name[de]=Mangonel
Name[el]=Mangonel
Name[en_GB]=Mangonel
Name[es]=Mangonel
Name[et]=Mangonel
Name[eu]=Mangonel
Name[fi]=Mangonel
Name[fr]=Mangonel
Name[gl]=Mangonel
Name[hu]=Mangonel
Name[ia]=Mangonel
Name[it]=Mangonel
Name[kk]=Mangonel
Name[ko]=Mangonel
Name[lt]=Mangonel
Name[nb]=Mangonel
Name[nds]=Mangonel
Name[nl]=Mangonel
Name[nn]=Mangonel
Name[pl]=Mangonel
Name[pt]=Mangonel
Name[pt_BR]=Mangonel
Name[ro]=Mangonel
Name[ru]=Mangonel
Name[sk]=Mangonel
Name[sl]=Mangonel
Name[sv]=Mangonel
Name[tr]=Mangonel
Name[uk]=Mangonel
Name[x-test]=xxMangonelxx
Name[zh_CN]=Mangonel
Name[zh_TW]=Mangonel
Comment=Simple application launcher
Comment[bs]=Jednostavan pokretač programa
Comment[ca]=Llançador d'aplicacions senzill
Comment[ca@valencia]=Llançador d'aplicacions senzill
Comment[cs]=Jednoduchý spouštěč aplikací
Comment[da]=Simpel startmenu
Comment[de]=Einfacher Anwendungsstarter
Comment[el]=Απλός εκτελεστής εφαρμογής
Comment[en_GB]=Simple application launcher
Comment[es]=Lanzador de aplicaciones sencillo
Comment[et]=Lihtne rakenduste käivitaja
Comment[eu]=Aplikazio abiarazle soil bat
Comment[fi]=Yksinkertainen sovelluskäynnistin
Comment[fr]=Lanceur d'application simple
Comment[gl]=Iniciador de aplicacións
Comment[hu]=Egyszerű alkalmazásindító
Comment[ia]=Simple lanceator de application
Comment[it]=Semplice avviatore di applicazioni
Comment[kk]=Қапапайым қолданба жеккіші
Comment[ko]=간단한 프로그램 실행기
Comment[lt]=Paprasta programų paleidyklė
Comment[nb]=Enkel programstarter
Comment[nds]=Eenfach Programmoproper
Comment[nl]=Eenvoudige programmastarter
Comment[nn]=Enkel programstartar
Comment[pl]=Proste uruchamianie programów
Comment[pt]=Lançador de aplicações simples
Comment[pt_BR]=Lançador de aplicativos simples
Comment[ro]=Lansator de aplicații simplu
Comment[sk]=Jednoduchý spúšťač aplikácií
Comment[sl]=Preprost zaganjalnik programov
Comment[sv]=Enkel programstart
Comment[tr]=Basit uygulama çalıştırıcı
Comment[uk]=Простий інструмент запуску програм
Comment[x-test]=xxSimple application launcherxx
Comment[zh_CN]=简易程序启动器
Comment[zh_TW]=簡單的應用程式啟動器
Categories=Qt;KDE;Core;Utility;
