[Desktop Entry]
Type=Application
Exec=mangonel
Icon=mangonel
Name=Mangonel
Name[bs]=Mangonel
Name[ca]=Mangonel
Name[cs]=Mangonel
Name[da]=Mangonel
Name[de]=Mangonel
Name[es]=Mangonel
Name[fi]=Mangonel
Name[fr]=Mangonel
Name[gl]=Mangonel
Name[hu]=Mangonel
Name[kk]=Mangonel
Name[ko]=Mangonel
Name[lt]=Mangonel
Name[nb]=Mangonel
Name[nl]=Mangonel
Name[pl]=Mangonel
Name[pt]=Mangonel
Name[pt_BR]=Mangonel
Name[sk]=Mangonel
Name[sl]=Mangonel
Name[sv]=Mangonel
Name[uk]=Mangonel
Name[x-test]=xxMangonelxx
Name[zh_CN]=Mangonel
Name[zh_TW]=Mangonel
Comment=Simple application launcher
Comment[bs]=Jednostavan pokretač programa
Comment[ca]=Llançador d'aplicacions senzill
Comment[cs]=Jednoduchý spouštěč aplikací
Comment[da]=Simpel startmenu
Comment[de]=Einfacher Anwendungsstarter
Comment[es]=Lanzador de aplicaciones sencillo
Comment[fi]=Yksinkertainen sovelluskäynnistin
Comment[fr]=Lanceur d'application simple
Comment[gl]=Iniciador de programas
Comment[hu]=Egyszerű alkalmazásindító
Comment[kk]=Қапапайым қолданба жеккіші
Comment[ko]=간단한 프로그램 실행기
Comment[lt]=Paprastas programų paleidiklis
Comment[nb]=Enkel programstarter
Comment[nl]=Eenvoudige programmastarter
Comment[pl]=Proste uruchamianie programów
Comment[pt]=Lançador de aplicações simples
Comment[pt_BR]=Lançador de aplicativos simples
Comment[sk]=Jednoduchý spúšťač aplikácií
Comment[sl]=Preprost zaganjalnik programov
Comment[sv]=Enkel programstart
Comment[uk]=Простий інструмент запуску програм
Comment[x-test]=xxSimple application launcherxx
Comment[zh_CN]=简易程序启动器
Comment[zh_TW]=簡單的應用程式啟動器
Categories=Qt;KDE;Core;Utility;
