[Desktop Entry]
Type=Application
Exec=mangonel
Icon=mangonel
Name=Mangonel
Name[ca]=Mangonel
Name[de]=Mangonel
Name[nl]=Mangonel
Name[pt]=Mangonel
Name[pt_BR]=Mangonel
Name[sl]=Mangonel
Name[sv]=Mangonel
Name[uk]=Mangonel
Name[x-test]=xxMangonelxx
Comment=Simple application launcher
Comment[ca]=Llançador d'aplicacions senzill
Comment[de]=Einfacher Anwendungsstarter
Comment[nl]=Eenvoudige programmastarter
Comment[pt]=Lançador de aplicações simples
Comment[pt_BR]=Lançador de aplicativos simples
Comment[sl]=Preprost zaganjalnik programov
Comment[sv]=Enkel programstart
Comment[uk]=Простий інструмент запуску програм
Comment[x-test]=xxSimple application launcherxx
Categories=Qt;KDE;Core;Utility;
